<p class="alert"><%= alert%></p>
<p class="notice"><%= notice %></p>

<%= form_tag sessions_path do %>
    <pre>Käyttäjätunnus: <%= text_field_tag :username, params[:username] %></pre>
    <pre>Salasana: <%= password_field_tag :password, params[:password] %></pre>
    <%= submit_tag "Kirjaudu sisään" %>
<% end %>

<% content_for :header do %>
    Kirjaudu sisään
<% end %>