
<p id="notice"><%= notice %></p>

<p>Projektiryhmiä voi kerrallaan olla aktiivisena yksi kappale. Käytännössä aktiivisuus tarkoittaa sitä, että ohjelmisto käsittelee kyseistä projektiryhmää.</p>
<p>Projektit, opiskelijoiden ilmoittautumiset ja ryhmäjaot ovat <b>projektiryhmäkohtaisia</b></p>

<table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Kuvaus</th>
      <th>Aktiivinen</th>
      <th>Julkaistu</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projectbundles.each do |projectbundle| %>
      <tr>
        <td><%= projectbundle.name %></td>
        <td><%= projectbundle.description %></td>
        <td><%= radio_button_tag(:active,"aktiivinen") %></td>
        <% if projectbundle.verified = false %>
        <td>Ei</td>
        <% else %>
        <td>Kyllä</td>
        <% end %>
        <td><%= link_to 'Näytä', projectbundle %></td>
        <td><%= link_to 'Muokkaa', edit_projectbundle_path(projectbundle) %></td>
        <td><%= link_to 'Poista', projectbundle, method: :delete, data: { confirm: 'Haluatko varmasti poistaa projektiryhmän?' } %></td>

        <% if not current_user.nil? and compare_accesslevel(:admin) %>
            <% if projectbundle.verified = false %>
            <td>[<%= link_to 'Vahvista', projectbundles_path+"/"+projectbundle.id.to_s+"/verify", data: { confirm: 'Haluatko varmasti vahvistaa projektiryhmän? Projektiryhmän vahvistaminen lukitsee ryhmäjaot ja lähettää tiedot jaoista opiskelijoille.' } %>]
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Uusi projektiryhmä', new_projectbundle_path %>
<% content_for :header do %>
    <%= "Olemassa olevat projektiryhmät" %>
<% end %>