<p class="notice"><%= notice %></p>
<p class="alert"><%= alert%></p>

<p>
  <strong>Name:</strong>
  <%= @projectbundle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @projectbundle.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @projectbundle.active %>
</p>

<p>
  <strong>Ilmottautumisen alkamispäivä:</strong>
  <%= @projectbundle.signup_start %>
</p>

<p>
  <strong>Ilmottautumisen päättymispäivä:</strong>
  <%= @projectbundle.signup_end %>
</p>

<%= link_to 'Muokkaa', edit_projectbundle_path(@projectbundle) %> |
<%= link_to 'Takaisin', projectbundles_path %>
<% content_for :header do %>
    <%= "Projektiryhmän tiedot" %>
<% end %>
