<table>
  <thead>
    <tr>
      <th>Opiskelija</th>
      <th>Projekti</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.enrollment_id %></td>
        <td><%= signup.project_id %></td>
        <td><%= link_to 'Näytä', signup %></td>
        <td><%= link_to 'Muokkaa', edit_signup_path(signup) %></td>
        <td><%= link_to 'Poista', signup, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
