<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @signup.student_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @signup.project_id %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
