<p class="notice"><%= notice %></p>
<p class="alert"><%=alert %></p>

<p>
  <strong>Opiskelija:</strong>
  <%= @signup.student_id %>
</p>

<p>
  <strong>Projekti:</strong>
  <%= @signup.project_id %>
</p>

<%= link_to 'Muokkaa', edit_signup_path(@signup) %> |
<%= link_to 'Takaisin', signups_path %>
