<%= link_to 'Uusi käyttäjä', new_user_path %>


<table>
  <thead>
    <tr>
      <th>Käyttäjänimi</th>
      <th>Nimi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.username}", user %></td>
        <td><%= user.firstname %> <%= user.lastname %></td>
        <td><%= link_to 'Poista', user, method: :delete, data: { confirm: 'Haluatko varmasti poistaa käyttäjän?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Uusi käyttäjä', new_user_path %>

<% content_for :header do %>
    Käyttäjät
<% end %>