<p>
	<strong>Käyttäjätunnus:</strong>
	<%= @user.username %>
</p>
<p>
  <strong>Nimi:</strong>
  <%= @user.firstname %>
  <%= @user.lastname %>
</p>



<%= link_to 'Muokkaa', edit_user_path(@user) %>
<% if compare_accesslevel(:admin) %>
    |
    <%= link_to 'Listaa kaikki käyttäjät', users_path %>
<%end%>

<% content_for :header do %>
    <%= "Käyttäjä: #{@user.username}" %>
<% end %>