<p id="notice"><%= notice %></p>

<p>
	<strong>Käyttäjätunnus:</strong>
	<%= @user.username %>
</p>
<p>
  <strong>Nimi:</strong>
  <%= @user.firstname %>
  <%= @user.lastname %>
</p>



<%= link_to 'Muokkaa', edit_user_path(@user) %> |
<%= link_to 'Takaisin', users_path %>

<% content_for :header do %>
    <%= "Käyttäjä: #{@user.username}" %>
<% end %>