<div class="content">

<div class="bundle"><h1><%= @Projectbundle.name unless @Projectbundle.nil? %></h1></div>

<div style="margin-top: 10px;">
  <div class="projectDiv">
    <%= form_tag do %>
        <table>
        <tr>
            <td><%= label_tag(:sfirstname, "Etunimi:") %></td><td><%= text_field_tag(:sfirstname) %></td>
        </tr>
        <tr>
            <td><%= label_tag(:slastname, "Sukunimi:") %></td><td><%= text_field_tag(:slastname) %></td>
        </tr>
        <tr>
            <td><%= label_tag(:studentnumber, "Opiskelijanumero:") %></td><td><%= text_field_tag(:studentnumber) %></td>
        </tr>

        <tr>
            <td>Prioriteetti 1:</td><td><%= collection_select(@signup, :project_id, @projects, :id, :name) %></td>
        </tr>
        <tr>
            <td>Prioriteetti 2:</td><td><%= collection_select(@signup2, :project_id, @projects, :id, :name) %></td>
        </tr>
        <tr>
            <td>Prioriteetti 3:</td><td><%= collection_select(@signup3, :project_id, @projects, :id, :name) %></td>
        </tr>
        <tr>
            <td>Prioriteetti 4:</td><td><%= collection_select(@signup4, :project_id, @projects, :id, :name) %></td>
        </tr>
        <tr>
            <td>Prioriteetti 5:</td><td><%= collection_select(@signup5, :project_id, @projects, :id, :name) %></td>
        </tr>
        <tr>
            <td>Prioriteetti 6:</td><td><%= collection_select(@signup6, :project_id, @projects, :id, :name) %></td>
        </tr>
        </table>

        <%= submit_tag("Ilmoittaudu") %>
    <% end %>
  </div>
</div>
</div>
