<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Projektin nimi' %>
      <br>
      <%= f.text_field :name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :description, 'Kuvaus' %>
      <br>
      <%= f.text_area :description, cols: 40, rows: 15 %>
    </div>
    <div class="field">
      <%= f.label :website, 'Kotisivu' %>
      <br>
      <%= f.text_field :website, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :signup_start, 'Ilmoittautuminen alkaa'%>
      <br>
      <%= f.date_select :signup_start %>
    </div>
    <div class="field">
      <%= f.label :signup_end, 'Ilmoittautuminen päättyy' %>
      <br>
      <%= f.date_select :signup_end %>
    </div>
    <div class="field">
      <%= f.label :projectbundle_id, 'Projektiryhmä'%>
      <br>
      <%= f.select :projectbundle_id, options_from_collection_for_select(@bundle, :id, :to_s) %>
    </div>

    <div class="actions">
      <%= f.submit 'Luo projekti'%>
    </div>
<% end %>
