<%= link_to 'Luo uusi projekti', new_project_path %>


<% @projectbundles.each do |pb| %>

 <div class="subdiv">
    <h2><%= pb.name %></h2>
     <table>
          <thead>
            <tr>
              <th>Nimi</th>

              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pb.projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project %></td>
                <% if (current_user.id == project.user.id) or (current_user.accesslevel == 1) %>
                <td><%= link_to 'Muokkaa', edit_project_path(project) %></td>
                <% end %>
                <td><%= link_to 'Poista', project, method: :delete, data: { confirm: 'Haluatko varmasti poistaa projektin?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
</div>
<% end %>
<br>

<%= link_to 'Luo uusi projekti', new_project_path %>

</div>
<% content_for :header do %>
    Projektit
<% end %>