<div class="content">
<div class="header"><h1>Projektit</h1></div>

<% @projectbundles.each do |pb| %>

 <div class="subdiv">
    <h2><%= pb.name %></h2>
     <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Signup start</th>
              <th>Signup end</th>

              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pb.projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project %></td>
                <td><%= project.signup_start %></td>
                <td><%= project.signup_end %></td>
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
</div>
<% end %>
<br>

<%= link_to 'New Project', new_project_path %>

</div>