<p class="notice"><%= notice %></p>
<p class="alert"><%= alert%></p>

<p>
  <strong>Nimi:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Projektiryhmä:</strong>
  <%= @project.projectbundle.name %>
</p>

<p>
  <strong>Kuvaus:</strong>
  <%= @project.description %>
</p>

<% if not @project.website.nil? %>
    <p>
      <strong>Website</strong>
      <%= link_to @project.website, @project.website, :target => '_blank' %>
    </p>
<% end %>

<p>
  <strong>Projektiin hyväksyttävien opiskelijoiden määrä:</strong>
  <%= @project.maxstudents %>
</p>

<% if not Projectpicture.find_by_project_id(@project.id).nil? %>
<%= image_tag url_for(:controller => "projectpictures", :action => "show", :id => Projectpicture.find_by_project_id(@project.id)) %>
<% end %>

<h2>Projektiin halukkuutensa ilmoittaneet: </h2>
<table>
  <tr>
    <th>
      <a ng-click="click('lastname')">Opiskelija</a>
    </th>
    <th>
      <a ng-click="click('priority')">Prioriteetti</a>
    </th>
    <th>
      Ilmottautumisen status
    </th>
  </tr>
  <% @project.signups.each do |signup| %>
      <tr>
        <td>
          <%= "#{signup.enrollment.firstname} #{signup.enrollment.lastname}" %>
        </td>
        <td>
          <%= signup.priority %>
        </td>
        <td>
          <% if signup.status %>
              Hyväksytty
          <% else %>
              Odottaa vielä hyväksymistä tai ei hyväksytty
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br/>
 <%= link_to 'Hyväksyttyjen opiskelijoiden sähköpostiosoitteet', emails_path(@project.id) %><br>
<a href="mailto:?bcc=<%= @emails %>">Lähetä sähköposti hyväksytyille</a><br><br>
<%= link_to 'Muokkaa projektia', edit_project_path(@project) %>
<%= link_to 'Listaa kaikki projektit', projects_path %>

<% content_for :header do %>
    <%= "Projekti: #{@project.name}" %>
<% end %>