
<% if not @enrollment.nil? %>
<%= form_for(@enrollment) do |f| %>
    <% if @enrollment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

          <ul>
            <% @enrollment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :firstname, 'Etunimi' %><br />
    <%= f.text_field :firstname %><br />

    <%= f.label :lastname, 'Sukunimi'%><br />
    <%= f.text_field :lastname %><br />

    <%= f.label :studentnumber, 'Opiskelijanumero' %><br />
    <%= f.text_field :studentnumber %><br />

    <%= f.label :email, 'Sähköpostiosoite' %><br />
    <%= f.text_field :email %><br />

        <%= f.fields_for :signups do |sf| %>
            Prioriteetti <%= sf.object.priority %>: <br />
            <%= sf.select :project_id, options_from_collection_for_select(@projects, :id, :name, sf.object.project_id), :include_blank => '---- Valitse ----' %>
            <br />
            <%= sf.hidden_field :id, value:sf.object.id %>
            <%= sf.hidden_field :priority, value:"#{sf.object.priority}" %>

        <% end %>
        <br>
        <br/>
    <div class="actions">
      <%= f.submit 'Tallenna ilmoittautuminen'%>
    </div>
<% end %>

<% end %>
