
<% if not @enrollment.nil? %>
    <%= form_for(@enrollment) do |f| %>
        <% if @enrollment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@enrollment.errors.count, 'virhe', 'virhettä') %> esti ilmoittautumisen tallentamisen:</h2>

              <ul>
                <% @enrollment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>

        <% end %>

        <p>Täytä alla olevat kentät huolellisesti.</p>
        <p>HUOM! Antamaasi sähköpostiosoitetta käytetään kaikessa projektiin liittyvässä tiedonannossa</p>
        <table class="formtable">
          <tr>
            <td class="label"><%= f.label :firstname, 'Etunimi' %></td>
            <td class="field"><%= f.text_field :firstname %></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :lastname, 'Sukunimi'%></td>
            <td class="field"><%= f.text_field :lastname %></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :studentnumber, 'Opiskelijanumero' %></td>
            <td class="field"><%= f.text_field :studentnumber %></td>
          </tr>

          <tr>
            <td class="label"><%= f.label :email, 'Sähköpostiosoite' %></td>
            <td class="field"><%= f.text_field :email %></td>
          </tr>
        </table>
        <p>Valitse alla olevista vetovalikoista haluamasi projektit tärkeysjärjestyksessä.</p>
        <p>HUOM!  Valitse ainakin yksi projekti!</p>

        <table class="formtable" style="display: inline-block;">
          <%= f.fields_for :signups do |sf| %>
              <tr>
                <td class="label">Prioriteetti <%= sf.object.priority %>:</td>
                <td class="field"><%= sf.select :project_id, options_from_collection_for_select(@projects, :id, :name, sf.object.project_id), :include_blank => '---- Valitse ----' %></td>
              </tr>

              <%= sf.hidden_field :id, value:sf.object.id %>
              <%= sf.hidden_field :priority, value:"#{sf.object.priority}" %>
              <%= sf.hidden_field :forced, value:false %>

          <% end %>
        </table>
        <div style="display: inline-block; position: relative; top: -100px; margin-left: 10px;">Lisätietoa projekteista löytyy sivun alaosasta</div>
        <br>
        <br/>
        <div class="actions">
          <%= f.submit 'Tallenna ilmoittautuminen', :onclick => "return confirm('Onko antamasi sähköposti '+
          document.getElementById('enrollment_email').value + ' varmasti oikea?' )" %>
        </div>
    <% end %>

<% end %>
