<div class="content">

<div class="bundle"><h1><%= @Projectbundle.name unless @Projectbundle.nil? %></h1></div>

    <%= render 'form' %>

  <div class="projectInfo">
    <% @projects.each do |p| %>
        <h3><%= p.name %></h3>
        <div id="<%= p.id %>" >
          <p>
          <%= p.description %>
          Vastuuhenkilö: <%= p.user.firstname %> <%= p.user.lastname %>
          </p>
        </div>
    <% end %>
  </div>

</div>
</div>

<script>
    $(function() {
        $( ".projectInfo" ).accordion();
    });
</script>
