
<% unless @enrollments.first.nil? %>

    <table class="enrollmenttable" style="width:100%;">
      <thead>
      <tr>
        <th>
          Opiskelija
        </th>
        <% @projects.each do |project| %>
            <th title="<%= project.name %>">
              <%= project.name.truncate(4, omission:'') %>
            </th>
        <% end %>
        <th>
          Opiskelijalla projekteja
        </th>
        <th>
          Magic number
        </th>
      </tr>
      </thead>

      <tfoot class="tableSummary">
      <tr>
        <td>Opiskelijoita</td>
        <% @projects.each do |project| %>

            <td id="<%= project.id %>-ptotal">
              <%= project.amount_of_accepted_students %> / <%= project.maxstudents %>
            </td>
        <% end %>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Täyttöaste</td>
        <% @projects.each do |project| %>

            <td id="<%= project.id %>-pfill">
              <%= project.amount_of_accepted_students - project.maxstudents %>
            </td>
        <% end %>
        <td></td>
        <td></td>
      </tr>
      </tfoot>

      <tbody>
      <% @enrollments.each do |enrollment| %>

          <tr>
            <td>
              <%= enrollment.name %><br/>
              <%= enrollment.studentnumber %>
            </td>
            <% @projects.each do |project| %>
                <% signup = enrollment.signups.find_by(project_id:project.id) %>
                <% unless signup.nil? %>
                    <td id="<%= enrollment.id %>-<%= project.id %>" onclick="setStatus(<%= enrollment.id %>, <%= project.id %>, <%= !signup.status %>)" class="prioritycell<%= ' accepted' if signup.status %>"<%= 'class=accepted' if signup.status %>>
                      <%= signup.priority %>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
            <td id="<%= enrollment.id %>-etotal" class="tableSummary">
              <%= enrollment.accepted_amount %>
            </td>
            <td id="<%= enrollment.id %>-escore" class="tableSummary">
              <%= enrollment.compute_magic_number %>
            </td>
          </tr>
      <% end %>
      </tr>
      </tbody>
    </table>

<% else %>
    <h2>Ei ilmoittautumisia.</h2>
<% end %>


<% content_for :header do %>
    Ilmoittautumisnäkymä
<% end %>

<script>

    var intervalID;
    var intervalTime = 5000; // milliseconds

    function setStatus(enrollment_id, project_id, status) {
        clearInterval(intervalID);
        $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "setstatus",
            data: { enrollment_id: enrollment_id, project_id: project_id, status: status }
        })
                .done(function( msg ) {
                    document.getElementById(project_id+"-ptotal").innerHTML = msg.acceptedStudents + " / " +msg.maxStudents;
                    document.getElementById(enrollment_id+"-etotal").innerHTML = msg.acceptedProjects;
                    document.getElementById(enrollment_id+"-escore").innerHTML = msg.magicNumber;
                    document.getElementById(project_id+"-pfill").innerHTML = msg.acceptedStudents - msg.maxStudents;
                    //Toggles accepted
                    $("#"+enrollment_id +"-"+project_id).toggleClass("accepted",msg.newStatus);
                    intervalID = setInterval(refreshCells, intervalTime);
                });
    };

    function refreshCells() {
        $( ".prioritycell" ).each(function(index, element) {
            element_id = $(this).attr("id").split("-");
            enrollment_id = element_id[0];
            project_id = element_id[1];
            console.log("solu: " + element_id);
            $.ajax({
                async: false,
                type: "GET",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "getstatus/"+enrollment_id+"/"+project_id
            })
                    .done(function(msg) {
                        if (msg.currentStatus == "true") {
                            $("#"+enrollment_id +"-"+project_id).toggleClass("accepted",true);
                        } else {
                            $("#"+enrollment_id +"-"+project_id).toggleClass("accepted",false);
                        }
                    });
        });
    }

    $(document).ready(function() {
        intervalID = setInterval(refreshCells, intervalTime);

        $(function() {
            $( document ).tooltip();
        });

    });


</script>
