
<% unless @enrollments.first.nil? %>
    <p>
      <strong>Automaaginen päivitys</strong><br />
      Päivitysväli:
      <select id="refreshSelect" onchange="setRefreshTime()">
        <option value="0">Ei päivitystä</option>
        <option value="5000">5</option>
        <option value="10000">10</option>
        <option value="30000">30</option>
      </select>
    </p>

    <table class="enrollmenttable" style="width:100%;">
      <thead>
      <tr>
        <th>
          Opiskelija
        </th>
        <% @projects.each do |project| %>
            <th>
              <%= project.name %>
            </th>
        <% end %>
        <th>
          Opiskelijalla projekteja
        </th>
        <th>
          Magic number
        </th>
      </tr>
      </thead>

      <tfoot class="tableSummary">
      <tr>
        <td>Opiskelijoita</td>
        <% @projects.each do |project| %>

            <td id="<%= project.id %>-ptotal">
              <%= project.amount_of_accepted_students %> / <%= project.maxstudents %>
            </td>
        <% end %>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Täyttöaste</td>
        <% @projects.each do |project| %>

            <td id="<%= project.id %>-pfill">
              <%= project.amount_of_accepted_students - project.maxstudents %>
            </td>
        <% end %>
        <td></td>
        <td></td>
      </tr>
      </tfoot>

      <tbody>
      <% @enrollments.each do |enrollment| %>

          <tr>
            <td>
              <%= enrollment.name %>
            </td>
            <% @projects.each do |project| %>
                <% signup = enrollment.signups.find_by(project_id:project.id) %>
                <% unless signup.nil? %>
                    <td id="<%= enrollment.id %>-<%= project.id %>" onclick="setStatus(<%= enrollment.id %>, <%= project.id %>, <%= !signup.status %>)" class="prioritycell<%= ' accepted' if signup.status %>"<%= 'class=accepted' if signup.status %>>
                      <%= signup.priority %>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
            <td id="<%= enrollment.id %>-etotal" class="tableSummary">
              <%= enrollment.accepted_amount %>
            </td>
            <td id="<%= enrollment.id %>-escore" class="tableSummary">
              <%= enrollment.compute_magic_number %>
            </td>
          </tr>
      <% end %>
      </tr>
      </tbody>
    </table>

<% else %>
    <h2>Ei ilmoittautumisia.</h2>
<% end %>


<% content_for :header do %>
    Ilmoittautumisnäkymä
<% end %>

<script>
    var reloadInterval;
    var timeout;

    function setRefreshTime() {
        reloadInterval = $( '#refreshSelect').val();
        document.cookie='refreshTime=' + reloadInterval;
        if (reloadInterval == 0) {
            clearTimeout(timeout);
        } else {
            location.reload(true);
        }
    };

    function setStatus(enrollment_id, project_id, status) {
        $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: "setstatus",
            data: { enrollment_id: enrollment_id, project_id: project_id, status: status }
        })
                .done(function( msg ) {
                    document.getElementById(project_id+"-ptotal").innerHTML = msg.acceptedStudents + " / " +msg.maxStudents;
                    document.getElementById(enrollment_id+"-etotal").innerHTML = msg.acceptedProjects;
                    document.getElementById(enrollment_id+"-escore").innerHTML = msg.magicNumber;
                    document.getElementById(project_id+"-pfill").innerHTML = msg.acceptedStudents - msg.maxStudents;
                    //Toggles accepted
                    $("#"+enrollment_id +"-"+project_id).toggleClass("accepted",msg.newStatus);
                });
    };
    $(document).ready(function() {
        if (readCookie("refreshTime") == null) {
            reloadInterval = 5000;
        } else {
            reloadInterval = readCookie("refreshTime");
        }
        $('#refreshSelect').val(reloadInterval);


        if (reloadInterval > 0) {
            timeout = setInterval("refreshCells()", reloadInterval);
        }
    });

    function refreshCells() {
        $( ".prioritycell" ).each(function() {
            $.ajax({
                type: "GET",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "getstatus"
                data: { enrollment_id: $(this).enrollment_id}
            })
                    .done(function(msg) {
                        if (msg.status) {

                        }
                    });
        });
    }

</script>
