<p id="notice"><%= notice %></p>

  <%= render 'form' %>
  <br/>
  <br/>
  <div class="projectInfo" style="max-width: 600px;">
    <% @projects.each do |p| %>
        <h3><%= p.name %></h3>
        <div id="<%= p.id %>" >
          <p>
            <%= p.description %><br/>
            Projektin kotisivu: <%= link_to p.website, p.website, :target => '_blank' %><br/>
            Projektiin hyväksyttävien opiskelijoiden määrä: <%= p.maxstudents %><br/>
            Vastuuhenkilö: <%= p.user.to_s %>
          </p>
        </div>
    <% end %>
  </div>

  <br/>

  <% if not @student.nil? %>
      <% if @student.errors.any? %>
          <%= @student.errors.inspect %>
      <% end %>
  <% end %>
<% content_for :header do %>
       <%= @projectbundle.name unless @projectbundle.nil? %>
<% end %>

<script>
    $(function() {
        $( ".projectInfo" ).accordion();
    });
</script>

