<% if not @projectbundle.nil? and not (@projectbundle.signup_start > Date.today) and not (@projectbundle.signup_end <= Date.today)%>
<h3><%="Ilmoittautuminen päättyy #{@projectbundle.signup_end.strftime("%d.%m.%Y %H:%M")}"%></h3>
  <%= render 'form' %>
  <br/>
  <br/>
  <div class="projectInfo" style="max-width: 600px;">
    <% @projects.each do |p| %>
        <h3><%= p.name %></h3>
        <div id="<%= p.id %>" >
          <p>
            <%= p.description %><br/>
            <% if not Projectpicture.find_by_project_id(p.id).nil? %>
            <%= image_tag url_for(:controller => "projectpictures", :action => "show", :id => Projectpicture.find_by_project_id(p.id)) %><br/>
            <% end %>
            Projektin kotisivu: <%= link_to p.website, p.website, :target => '_blank' %><br/>
            Projektiin hyväksyttävien opiskelijoiden määrä: <%= p.maxstudents %><br/>
            Vastuuhenkilö: <%= p.user.to_s %>
          </p>
        </div>
    <% end %>
  </div>

  <br/>

    <% if not @student.nil? %>
        <% if @student.errors.any? %>
            <%= @student.errors.inspect %>
        <% end %>
    <% end %>

    <script>
        $(function () {
            $(".projectInfo").accordion();
        });
    </script>
<% else %>
    Ei aktiivisia projektiryhmiä.
   <% if not current_user %>
        Jos olet opettaja tai ylläpitäjä, ole hyvä ja kirjaudu sisään <%= link_to 'tästä', signin_path %>
    <%end%>
<% end %>
<% content_for :header do %>
    <% if @projectbundle.nil? %>
        Etusivu
    <% else %>
        <%= "#{@projectbundle.name}" %>
    <% end %>
<% end %>
