<!DOCTYPE html>
<html>
<head>
  <title>Ilmoprojekti</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if not session[:user_id].nil? %>
    <p><%= User.find(session[:user_id]).username %> signed in</p>
    <p><%= link_to 'Sign out', signout_path, method: :delete %></p>
<% end %>

<%= yield %>

</body>
</html>
