<!DOCTYPE html>
<html>
<head>
  <title>Ilmoprojekti</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>

<div id="navi">
  <ul><%= link_to 'ETUSIVU', root_path %></ul>
  <% if not current_user.nil? and compare_accesslevel(:admin) %>
      <ul>'KÄYTTÄJÄT'
        <li><%= link_to 'LUO UUSI', new_user_path %></li>
        <li><%= link_to 'LISTAA KÄYTTÄJÄT' %></li>

      </ul>
  <% end %>
  <%= link_to 'PROJEKTIT', projects_path %>

  <% if not current_user.nil? and compare_accesslevel(:admin) %>
      <%= link_to 'PROJEKTIRYHMÄT', projectbundles_path %>
  <% end %> |

  <% if not current_user.nil? and compare_accesslevel(:teacher) %>
      <%= link_to 'ILMOITTAUTUMISET', enrollments_path %>
  <% end %>

  <% if not current_user.nil? %>
      <%= link_to current_user.username.upcase, user_path(current_user.id) %> KIRJAUTUNEENA SISÄÄN.
      <%= link_to 'KIRJAUDU ULOS', signout_path, method: :delete %>
  <% else %>
      <%= link_to 'KIRJAUDU SISÄÄN', signin_path %>
  <% end %>
</div>

<div class="content">
  <div class="header">
    <h1 id="topheader"><%= yield :header %></h1>

    <div id="headerlogo"><img src="/images/p2plogo_box_projekti_ilmo_250x111.jpeg"/></div>
  </div>
  <div style="margin-top: 10px;">
    <div class="subdiv" style="padding: 15px;">
      <p class="notice"><%= notice %></p>

      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>
</body>

</html>
