<!DOCTYPE html>
<html>
<head>
  <title>Ilmoprojekti</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>

<div id="navi">
	<%= link_to 'Etusivu', root_path %>
	<% if not current_user.nil? and compare_accesslevel(:admin) %>
	<%= link_to 'Käyttäjät', users_path %>
	<% end %>
	<%= link_to 'Projektit', projects_path %> |
	<% if not current_user.nil? %>
    	<%=link_to current_user.username,  user_path(current_user.id) %> kirjautuneena sisään. 
    	<%= link_to 'Kirjaudu ulos', signout_path, method: :delete %>
	<% else %>
		<%=link_to 'Kirjaudu sisään', signin_path %>
	<% end %>

</div>

<div class="content">
    <div class="header">
      <h1><%= yield :header %></h1>
    </div>
    <div style="margin-top: 10px;">
        <div class="subdiv" style="padding: 15px;">
          <%= yield %>
        </div>
    </div>
</div>
</body>

</html>
